:root,
input,
select,
textarea,
button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

h1 { font-size: 36px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

h1, h2, h3, h4, h5, h6, p { margin: 12px 0; }

hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #0080ff;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}

button, .button {
    display: inline-block;
    outline: none;
    font-size: 14px;
    padding: 10px 24px;
    background-color: #fafafa;
    color: black;
    border: 1px solid #e0e0e0;
    cursor: pointer;
}
button:hover, .button:hover {
    background-color: #f8f8f8;
    text-decoration: none;
}
button:focus, .button:focus {
    border-color: #0080ff;
}
button:active, .button:active {
    transform: translateY(1px);
}

input {
    display: block;
    outline: none;
    font-size: 14px;
    padding: 10px 24px;
    width: 300px;
    background-color: white;
    color: black;
    border: 1px solid #e0e0e0;
}
input:focus {
    border-color: #0080ff;
}

.error {
    color: red;
    font-weight: bold;
}

section {
    max-width: 900px;
    margin: 24px auto;
}

.float-right {
    float: right;
}